* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  font-family: 'Amatic SC', cursive;
  color: #fffdd0;
  background-color: #31343A;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 500px;
  height: 500px;
  flex-wrap: wrap;
}

#game {
  display: flex;
  flex-direction: row;
  align-items: center;
}

article {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;

}

.cell {
  border: 1px solid #fffdd0;
  font-size: 25px;
}


.apple {
  background-image: url('https://s.pngkit.com/png/small/130-1309198_top-images-2018-unicorn-clipart-transparent-background-transparent.png');
  background-size: cover;
}

.snake {
  background-color: #ffbdb6;
  background-size: cover;
}

button {
  background-color: #ffbdb6;
  border: none;
  color: #31343A;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  margin: 10px;
  font-family: 'Amatic SC', cursive;
}

#points {
  border: 1px solid #fffdd0;
  padding: 20px;
  margin: 10px;
  font-size: 16px;
  font-family: 'Bungee', cursive;
}

h1 {
  font-size: 40px;
}