* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid green;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

.cell {
  border: 1px solid green;
  font-size: 25px;
}

.snake {
  background-color: green;
  background-size: cover;
}

.apple {
  background-image: url('https://s.pngkit.com/png/small/130-1309198_top-images-2018-unicorn-clipart-transparent-background-transparent.png');
  background-size: cover;
}